/* VARIABLES */
$main-font: 'Orbitron', 'Roboto', sans-serif;

$dark-gray: #414042;
$light-gray: #c4c7cc;
$accent-color: #74ccf4;

$standard-font-size: 16px;
$mid-font-size: $standard-font-size * 1.5;
$large-font-size: $standard-font-size * 3;

$st-font-size-sm-screens: 12px;
$mid-font-size-sm-screens: $st-font-size-sm-screens * 1.5;
$large-font-size-sm-screens: $st-font-size-sm-screens * 3;

$mid-font-size-sm-screens-landscape: $st-font-size-sm-screens * 1.25;
$large-font-size-sm-screens-landscape: $st-font-size-sm-screens * 2;